table {
    width: 50%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    border-bottom: solid 2px black;
}

tbody tr {
    border-bottom: solid 1px gray;
}

tbody th {
    padding-right: 20px;
}

tbody td {
    padding: 10px 10px 10px 0;
}

tbody tr:hover {
    background-color: rgb(189, 189, 189);
}
