.form-user {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-user input, .form-user textarea {
    width: 100%;
    border: none;
    background-color: #cfcfcf;
    border-radius: 4px;
    padding: 5px;
}

.form-user input:focus, .form-user textarea:focus {
    outline: none;
}

.form-user input {
    height: 30px;
}

.form-user button {
    height: 30px;
    border-radius: 4px;
    background-color: rgb(207, 207, 207);
    border: none;
}

.form-user button:hover {
    background-color: rgb(228, 228, 228);
    transition: .6s;
}

.name-email {
    display: flex;
    align-items: center;
    background-color: #cfcfcf;
    padding: 5px;
    border-radius: 4px;
}

.name-email img {
    width: 30px;
    height: 30px;
}

.form-user input[type=email] {
    background-color: rgb(194, 194, 194);
    margin-left: 3px;
}

.form-user input[type=text] {
    background-color: rgb(194, 194, 194);
    margin-left: 3px;
}



